@model LuchoSoft.Models.OrdenInsumo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrdenInsumo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionOrdenInsumos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionOrdenInsumos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadInsumoOrdenInsumos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadInsumoOrdenInsumos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdInsumoOrdenInsumosNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdInsumoOrdenInsumosNavigation.IdInsumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOrdenDeProduccionOrdenInsumosNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOrdenDeProduccionOrdenInsumosNavigation.IdOrdenDeProduccion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdOrdenInsumos" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
