@model LuchoSoft.Models.OrdenInsumo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrdenInsumo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionOrdenInsumos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionOrdenInsumos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadInsumoOrdenInsumos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadInsumoOrdenInsumos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdInsumoOrdenInsumosNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdInsumoOrdenInsumosNavigation.IdInsumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOrdenDeProduccionOrdenInsumosNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOrdenDeProduccionOrdenInsumosNavigation.IdOrdenDeProduccion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdOrdenInsumos">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
