@model LuchoSoft.Models.Compra

@{
    ViewData["Title"] = "Delete";
}

<script src="https://kit.fontawesome.com/3699f31e0a.js" crossorigin="anonymous"></script>

<style>
    body {
        min-height: 100vh;
        margin: 0;
    }

    .container {
        max-width: 900px;
        margin: 20px auto;
        padding: 20px;
        border: 2px solid #9c9c9c;
        border-radius: 10px;
        background-color: #dee3df;
    }

    .delete-header {
        text-align: center;
        margin-bottom: 20px;
    }

        .delete-header h1 {
            margin-bottom: 10px;
        }

    .delete-message {
        text-align: center;
        margin-bottom: 30px;
    }

    .delete-details {
        padding: 20px;
        border: 2px solid #9c9c9c;
        border-radius: 10px;
        background-color: #fff;
    }

        .delete-details dl {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 10px;
        }

        .delete-details dt {
            font-weight: bold;
        }

    .delete-actions {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

        .delete-actions .btn-danger {
            margin-right: 10px;
        }
</style>

<div class="container">
    <div class="delete-header">
        <h1>Eliminar</h1>
    </div>

    <div class="delete-message">
        <h3>Estás seguro de eliminar esto?</h3>
    </div>

    <div class="delete-details">
        <h4>Compra</h4>
        <hr />
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.NombreCompra)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NombreCompra)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FechaCompra)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FechaCompra)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EstadoCompra)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EstadoCompra)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TotalCompra)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TotalCompra)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IdProveedorComprasNavigation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IdProveedorComprasNavigation.IdProveedor)
            </dd>
        </dl>
    </div>

    <div class="delete-actions">
        <form asp-action="Delete">
            <input type="hidden" asp-for="IdCompra" />
            <div class="d-flex justify-content-around">
                <div class="form-group">
                    <input type="submit" value="Eliminar" class="btn btn-primary" style="background-color: #48110d; font-size: 18px; width: 100px;" />
                </div>
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-danger" style="background-color: #e12424; font-size: 18px; width: 100px;">Volver</a>
                </div>
            </div>

        </form>

        <br />



    </div>
</div>
