@model LuchoSoft.Models.EmpleadosUsuarios

@{
    ViewData["Title"] = "Details";
}

<style>
    body {
        min-height: 100vh;
        margin: 0;
    }

    #Detalles {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1500px;
        width: 100%;
        margin-top: 20px;
    }

    #Botones {
        margin-top: 70px;
    }



    .form-group {
        margin-bottom: 30px;
        margin-left: 20px;
    }

    #detallesRecuadro {
        text-align: end;
        width: 600px;
        margin-top: 20px;
        border: 2px solid #9c9c9c;
        padding: 5px;
        border-radius: 10px;
        background-color: #dee3df;
    }

    .fa-solid {
        margin-right: 10px;
    }

    h1 {
        text-align: center;
    }
</style>



<center>
    <h1>Detalles Empleados</h1>
    <div id="detallesRecuadro">
        <div id="Detalles">
            <h4>Empleado</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ListaEmpleados[0].IdEmpleado)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ListaEmpleados[0].IdEmpleado)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ListaEmpleados[0].ImagenEmpleado)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ListaEmpleados[0].ImagenEmpleado)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ListaEmpleados[0].NombreEmpleado)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ListaEmpleados[0].NombreEmpleado)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ListaEmpleados[0].TelefonoEmpleado)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ListaEmpleados[0].TelefonoEmpleado)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ListaEmpleados[0].DireccionEmpleado)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ListaEmpleados[0].DireccionEmpleado)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ListaEmpleados[0].EstadoEmpleado)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ListaEmpleados[0].EstadoEmpleado)
                </dd>
            </dl>
            <br />
            <h4>Usuario</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ListaUsuarios[0].NombreUsuario)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ListaUsuarios[0].NombreUsuario)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ListaUsuarios[0].Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ListaUsuarios[0].Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ListaUsuarios[0].Contraseña)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ListaUsuarios[0].Contraseña)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ListaUsuarios[0].EstadoUsuario)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ListaUsuarios[0].EstadoUsuario)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ListaUsuarios[0].IdRolUsuariosNavigation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ListaUsuarios[0].IdRolUsuariosNavigation.IdRol)
                </dd>
            </dl>
            <div id="Botones">
                <div class="d-flex justify-content-between">

                    <div id="Editar" class="form-group">
                        <a asp-action="Edit" asp-route-id="@Model?.ListaEmpleados[0].IdEmpleado" class="btn btn-primary" style="background-color: #48110d; font-size: 18px; width: 100px; text-decoration: none; color: #fff; display: inline-block; text-align: center; padding: 6px 12px; margin-bottom: 0; font-weight: normal; line-height: 1.42857143; white-space: nowrap; vertical-align: middle; touch-action: manipulation; cursor: pointer; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px;">Editar</a>
                    </div>

                    <div id="Volver" class="form-group">
                        <a asp-action="Index" class="btn btn-danger" style="background-color: #e12424; font-size: 18px; width: 100px;">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>
<br />




