@model IEnumerable<LuchoSoft.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-danger text-white">Crear Usuario</a>
</p>

<br>

<table class="table" id="compras-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contraseña)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRolUsuariosNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contraseña)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdRolUsuariosNavigation.IdRol)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdUsuario" class="icon-box"><i
                            class="fas fa-edit edit-icon"></i></a>
                    <a asp-action="Details" asp-route-id="@item.IdUsuario" class="icon-box"><i
                            class="fas fa-info details-icon"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.IdUsuario" class="icon-box"><i
                            class="fas fa-trash-alt delete-icon"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
        $(document).ready(function () {
            $('.table').DataTable({
                "paging": true,
                "lengthMenu": [5, 10, 25, 50], // Opciones de cantidad por página
                "pageLength": 5, // Cantidad por página inicial
                "language": {
                    "search": "Buscar:",
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                    "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                    "infoFiltered": "(filtrado de _MAX_ entradas en total)",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
                // Otras configuraciones de DataTables
            });

            // Ajustar el ancho del buscador
            $('.dataTables_filter input[type="search"]').css('width', '600px');
        });
    </script>

